* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
    font-family: 'Segoe UI', 'Segoe UI Symbol', Arial, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 200px;
    height: 25px;
    padding: 15px;
    opacity: 0.85;
}

.content p {
    border: solid;
    border-color: grey;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.placeholder {
    margin-top: 2px;
    margin-bottom: 2px;
}

@media screen and (max-width: 2560px) {
    body {
        font-size: 20px;
    }
}
@media screen and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 14px;
    }
}
